<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui_elements_p2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI_Elements_P2">
        <activity android:name=".models.Album"></activity>
        <activity android:name=".databaseHandler.SongsDatabaseHandler" />
        <activity android:name=".NewAlbumDetailsActivity" />
        <activity android:name=".Database.SongDataBase" />
        <activity android:name=".models.Albums" />
        <activity android:name=".models.Song" />
        <activity android:name=".models.AlbumSong" />
        <activity android:name=".Albums" />
        <activity android:name=".EditSongActivity" />
        <activity android:name=".EditAlbumActivity" />
        <activity android:name=".AddSongToAlbumActivity" />
        <activity android:name=".AddSongActivity" />
        <activity android:name=".AddAlbumActivity" />
        <activity android:name=".AlbumDetailsActivity" />
        <activity android:name=".AlbumActivity" />
        <activity android:name=".QueueActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>